.spaceX{
    display: flex;
    flex-wrap: wrap;
}
.rocket{
    width: 25%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}
.title{
    text-align: center;
}
img{
    width: 80%;
}
